<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/88225b2944.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Vintage | Ropa de Mujer</title>
</head>
<body>
    <header>
        <h1>Vintage</h1>
        <div>
            <a><i class="fas fa-bars"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Ingresar</a></li>
            </ul>
        </nav>

        <form action="#" method="GET">
            <div class="box">
                <input type="text" name="search" autocomplete="off" placeholder="Buscar marcas y productos" class="src">
            </div>
        </form>
    </header>

    <main>
    <section>
        <figure>
            <img src="/img/banner2.jpg" alt="banner" width="360">
            <h2>Vestite bien, hoy tenés una cita con el éxito</h2>
            <div class="capa">
                <p>Suscribite a nuestro Newsletter</p>
                <form action="#" method="POST">
                    <input class="suscribite" type="text" name="suscribite" placeholder="Direccion de E-mail" >
                    <div class="enviar">
                    <input type="submit" value="ENVIAR">
                    </div>
                </form>
            </div>
        </figure>
    </section>
    <section class="mision">
        <div>
            <h3>Nuestra Misíon</h3>
            <p class="parrafo">Ser el E-comerce numero uno a nivel mundial</p>
        </div>       
        <div class="publi">
        <i class="far fa-credit-card"></i>
        <p>1.Tu compra esta segura con nuestros servicios</p>
    </div>
    <div class="publi">
        <i class="fas fa-truck"></i>
        <p>2.Envio garantizado por nuestra tienda</p>
    </div>
    <div class="publi">
        <i class="fas fa-map-marker-alt"></i>
        <p>3.Encontranos en cualquiera de nuestros punto de venta</p>
    </div>
    </section>
    <section class="ropas" id="productos">
        <h4>Nuestra seccion de trabajo</h4>
        <p>Verás calidad y precios al alcanze de tus deseos</p>
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa1.jpg" alt="pantalon femenina"></a>
        </figure>
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa2.jpg" alt="buzo femenina"></a>
        </figure>
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa3.jpg" alt="remera femenina"></a>
        </figure> 
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa4.jpg" alt="blusa femenina"></a>
        </figure>
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa5.jpg" alt="mono femenina"></a>
        </figure>
        <figure>
            <a href="/views/productDetail.html"><img src="/img/ropa6.jpg" alt="jeans femenina"></a>
        </figure>
    </section>
    <section class="clientes-contenedor" id="testimonios">
        <h4>Testimonios</h4>
        <div class="wrapper">
            <div class="box">
              <i class="fas fa-quote-left quote"></i>
              <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
              <div class="content">
                <div class="info">
                  <div class="name">Alex Smith</div>
                  <div class="job">Designer | Developer</div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <div class="image">
                   <img src="/img/face1.jpg" alt="rostro1"> 
                </div>
              </div>
            </div>
            <div class="box">
              <i class="fas fa-quote-left quote"></i>
              <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
              <div class="content">
                <div class="info">
                  <div class="name">Steven Chris</div>
                  <div class="job">YouTuber | Blogger</div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
                <div class="image">
                   <img src="/img/face2.jpg" alt="rostro1"> 
                </div>
              </div>
            </div>
          </div>
         <!--   <h4>Testimonios</h4>
            <div class="cards">
                <div class="card">
                    <img src="img/face1.jpg" alt="rostro">
                    <div class="contenido-texto-card">
                        <h4 class="name">Name</h4>
                        <p>lorem ipsum dolor sit amer consecuenci aduspisis
                        ejh</p>
                    </div>
                </div>
            </div>
        <div>
            <h4>Testimonios</h4>
            <p>Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Distinctio dolores magnam mollitia sed culpa dolorem cumque atque provident soluta,
                 voluptatem nulla, lboriosam.
                -Abigail Esprella</p>
        </div>-->
    </section>
    <section class="fondo">
        <div class="banner">
        </div>
    </section>
    </main>
    <footer id="contacto">
        <h5>Seguinos en </h5>
        <div class="contenedor-redes">
        <div>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div>
            <a href="#"><i class="fab fa-google-plus"></i></a>
        </div>
        </div>
        <div>
            <p> &copy; Copyright-Digital House- Vintage 2021</p>
        </div>
    </footer>
    
</body>
</html>