<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/88225b2944.js" crossorigin="anonymous"></script>
    <title>Vintage | detalle del producto</title>
</head>
<body>
    <header>
        <h1>Vintage</h1>
        <div>
            <a><i class="fas fa-bars"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Ingresar</a></li>
            </ul>
        </nav>

        <form>
            <div class="box">
                <input type="text" name="search" autocomplete="off" placeholder="Buscar marcas y productos" class="src">
            </div>
        </form>
    </header>
<main>
    <section class="populares">
        <div>
            <h2>Los más populares</h2>
            <p>La ropa que podés desear solo la encontras en Vintage</p>
        </div>
        <figure>
            <img src="/img/ropa1.jpg" alt="ropa1">
            <h3>Remera Palestina</h3>
            <p class="descuento">50% de descuento</p>
            <p class="money">$2.060</p>
            <p class="tachado">$4.500</p>
             <hr>
            <p class="talles">Talles</p>
            
            <form action="#" method="POST" id="formulario2">
                <div>
                    <input type="checkbox" name="s" id="small">
                    <label for="small">S</label>

                    <input type="checkbox" name="m" id="eme">
                    <label for="eme">M</label>

                    <input type="checkbox" name="l" id="ele">
                    <label for="ele">L</label>

                    <input type="checkbox" name="xl" id="equisele">
                    <label for="equisele">XL</label>
                </div>  
            </form>
        </figure>
     
    </section>

    <section class="descripcion">
       
        <h4>Descripción</h4>
         
        <p>Una remera es una prenda de vestir por lo general
            de mangas cortas, cuello redondo, sin bolsillos y sin
        botones a lo largo de su parte frontal</p>

        <form action="#" method="POST">
            <div>
                <input type="submit" value="Agregar al carrito">
            </div>
        </form>
    </section>
</main>

    <footer class="footer">
        <h5>Seguinos en </h5>
        <div class="contenedor-redes">
        <div>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div>
            <a href="#"><i class="fab fa-google-plus"></i></a>
        </div>
        </div>
        <div>
            <p> &copy; Copyright-Digital House- Vintage 2021</p>
        </div>
    </footer>
</body>
</html>